<div class="topbar">
  <nav class="nav-bar nav-bar--left">
    <ul class="nav-bar__lists">
      <li>
        <a href="#">
          <div class="">
            <div class="">
              <p>Teas</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="">
            <div class="">
              <p>Extras</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="">
            <div class="">
              <p>About</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="">
            <div class="">
              <p>Blog</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="">
            <div class="">
              <p>Contact</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="nav-bar nav-bar--center">
    <ul class="nav-bar__lists">
      <li>BLOOM'S TEA</li>
    </ul>
  </nav>
  <nav class="nav-bar nav-bar--right">
    <ul class="nav-bar__lists nav-bar--right__lists">
      <li>
        <a href="#">
          <div class="">
            FB
            <img src="" alt="">
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="">
            INSTA
            <img src="" alt="">
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="">
            PINT
            <img src="" alt="">
          </div>
        </a>
      </li>
      <li>CHART</li>
    </ul>
  </nav>

</div>
