<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Best Online Store</title>
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body>
    {{>navbar}}
    {{body}}
    {{>footer}}
    <!-- <div class="svg-sprite-container">{{> 'sprite.symbol' }}</div> -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
  </body>
</html>
