.perfect-center{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.topbar-line {
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    padding: 5px 0 0 0;
}
.footer-line {
    border-top: 1px solid rgba(36, 42, 53, 1);
    border-bottom: 2px solid rgba(36, 42, 53, 1);
    padding: 5px 0 0 0;
}
