<div class="background">
  <div class="bg-image">
    <div class="bg-image__description perfect-center">
      <h2>It's Always Tea Time</h2>
      <h2>With Bloom's Herbal Tea</h2>
      <button type="button" class="btn btn-outline-secondary">SHOP NOW</button>
    </div>
  </div>
  <div class="new-arrivals">

    <div class="new-arrivals__title">

    </div>

    <div class="the-best-carousel">
      <div class="container">
      	<div class="row">
      		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                  <div class="MultiCarousel-inner">
                      <div class="item">
                          <div class="pad15">
                            <a href="#">
                              <img src="assets/images/tea1.jpeg" alt="">
                              <p>Hibiscus Flower</p>
                              <p>$7.00</p>
                            </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="pad15">
                            <a href="#">
                              <img src="assets/images/tea2.jpeg" alt="">
                              <p>Chamomile Tea</p>
                              <p>$8.00</p>
                            </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="pad15">
                            <a href="#">
                              <img src="assets/images/tea3.jpeg" alt="">
                              <p>Golden Dragon</p>
                              <p>$10.00</p>
                            </a>
                          </div>
                      </div>
                      <div class="item">
                        <div class="pad15">
                          <a href="#">
                            <img src="assets/images/tea4.jpeg" alt="">
                            <p>Rosemary Specials</p>
                            <p>$7.00</p>
                          </a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="pad15">
                          <a href="#">
                            <img src="assets/images/tea5.jpeg" alt="">
                            <p>Raspberry Leaves</p>
                            <p>$9.00</p>
                          </a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="pad15">
                          <a href="#">
                            <img src="assets/images/tea6.jpeg" alt="">
                            <p>Simply The Best</p>
                            <p>$8.00</p>
                          </a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="pad15">
                          <a href="#">
                            <img src="assets/images/tea7.jpeg" alt="">
                            <p>Never Ending</p>
                            <p>$7.00</p>
                          </a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="pad15">
                          <a href="#">
                            <img src="assets/images/tea1.jpeg" alt="">
                            <p>Jungle Passion</p>
                            <p>$6.00</p>
                          </a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="pad15">
                          <a href="#">
                            <img src="assets/images/tea2.jpeg" alt="">
                            <p>Forest Berry</p>
                            <p>$8.00</p>
                          </a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="pad15">
                          <a href="#">
                            <img src="assets/images/tea3.jpeg" alt="">
                            <p>Dark Knight</p>
                            <p>$9.00</p>
                          </a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="pad15">
                          <a href="#">
                            <img src="assets/images/tea4.jpeg" alt="">
                            <p>White nights</p>
                            <p>$7.00</p>
                          </a>
                        </div>
                      </div>
                  </div>
                  <button class="btn new-arivals__btn leftLst"><</button>
                  <button class="btn btn-primary rightLst">></button>
              </div>
      	</div>
      	<div class="row">
      	    <div class="col-md-12 text-center">
              <div class="new-arivals__button">
                <button type="button" name="button">Shop All</button>
              </div>
      	    </div>
      	</div>
      </div>
    </div>



  </div>
</div>
