.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position:relative;
}
.MultiCarousel .MultiCarousel-inner {
  -webkit-transition: 1s ease all;
   transition: 1s ease all;
   float: left;
   .item{
     .pad15{
       a{
         text-decoration: none;
       }
       img{
         width: 50%;
       }
       p{
         color: black;
       }
     }
   }
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding:10px;
  margin:10px;
  // background:#f1f1f1;
  color:#666;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
  position:absolute;
  border-radius:50%;
  top:calc(50% - 20px);
}
.MultiCarousel .leftLst {
  left:0;
}
.MultiCarousel .rightLst {
  right:0;
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
  pointer-events: none;
  background: black;
}
.new-arivals__btn{
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0
}
